<div id="single-book-container">
	<div id="single-book-list">
		<h1 class="single-book-title">{{ booksDetailCtrl.book.title }}</h1>
		<div id="single-book">
			<div class="single-book-image">
				<img src="{{ booksDetailCtrl.book.image }}" alt="Image Thumbnail" width="100%" height="auto" />
			</div>
			<div class="single-book-info">
				<p class="detail-title">Title: <span ng-hide="editing">{{ booksDetailCtrl.book.title }}</span>
				<input type="text" ng-show="editing" ng-model="booksDetailCtrl.book.title" class="form-control" placeholder="Title" /></p>
				<p class="detail-author">Author: <span ng-hide="editing">{{ booksDetailCtrl.book.author }}</span>
				<input type="text" ng-show="editing" ng-model="booksDetailCtrl.book.author" class="form-control" placeholder="Author" /></p>
				<p class="detail-date">Release Date: <span ng-hide="editing">{{ booksDetailCtrl.book.releaseDate }}</span>
				<input type="text" ng-show="editing" ng-model="booksDetailCtrl.book.releaseDate" class="form-control" placeholder="Release Date" /></p>
				<span ng-show="editing">Image:</span>
				<input type="text" ng-show="editing" ng-model="booksDetailCtrl.book.image" class="form-control" placeholder="Image" />

				<a href="/" ng-hide="editing" class="back-button">Back</a>

				<!-- Show Submit button on Edit -->
		    <input type="submit" value="Update Book" class="edit-book-submit" ng-show="editing" ng-click="booksDetailCtrl.editBook(booksDetailCtrl.book); editing = false" />

				<!-- Show Cancel button on Edit -->
				<button type="button" class="cancel-button" ng-show="editing" ng-click="editing = false">Cancel</button>
			</div>
		</div>

		<!-- Delete Book button -->
		<button ng-hide="editing" ng-click="booksDetailCtrl.deleteBook(booksDetailCtrl.book)" class="delete-book">Delete Book</button>

		<!-- Edit Book info button -->
		<button ng-hide="editing" ng-click="editing = true" class="edit-book-info">Edit Book Info</button>

	</div>
</div>
