<div id="all-books-container">
	<div id="all-books-list">
		<h1 class="all-books-title">ALL BOOKS</h1>
		<div class="book-card-outer" ng-repeat="book in booksAllCtrl.books">
			<div class="book-card-inner">
				<div class="book-image">
					<img src="{{ book.image }}" width="100%" height="100%" class="align-left" />
				</div>
				<div class="book-info">
					<span class="book-title"><a ng-href="/books/{{ book._id }}">{{ book.title }}</a></span>
					<span class="book-author">{{ book.author }}</span>
					<span class="book-date">{{ book.releaseDate }}</span>
				</div>
			</div>
		</div>
	</div>
</div><!-- End All Books Container -->
