/*
  Site Name: GA Project 1 - Web Development Project Management App
  Site URI: https://secret-cove-35771.herokuapp.com/
  Description: Web Dev Project Management (Express API App)
  Author: Bill Cheng & Kenneth Bushman
  Version: 1.0
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* Links
--------------------------------------------- */

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #337ab7;
  text-decoration: underline;
}

/* Alignment
--------------------------------------------- */

.align-left {
  float: left;
  padding: 0;
  margin: 0 15px 20px 0;
}

/* Float Fix
--------------------------------------------- */

.float-fix {
  width: 100%;
  overflow: hidden;
}

/* Typography
--------------------------------------------- */

strong {
  font-weight: 700;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  padding: 0;
  margin: 0 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

/* Header
--------------------------------------------- */

header {
  width: 100%;
  padding: 0;
  margin: 0;
}

#header-container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

#header-container h1 {
  font-family: 'Black Ops One', cursive;
  font-size: 38px;
  line-height: 1.4;
  font-weight: 600;
  color: #000;
  padding: 0;
  margin: 40px 0 0;
  text-align: left;
}

/* Layout
--------------------------------------------- */

.container {
  background :#fff;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.wrap {
  background: transparent;
  max-width: 1120px;
  padding: 40px 0 0;
  margin: 0 auto;
}

#all-books-container {
  background: #000;
  width: 100%;
  text-align: center;
  word-spacing: 40px;
  padding: 0;
  margin: 50px auto;
  border-top: 10px solid #444;
  border-bottom: 10px solid #444;
  overflow: hidden;
}

#all-books-list {
  max-width: 1200px;
  padding: 0;
  margin: 50px auto 20px;
}

.all-books-title {
  word-spacing: 0;
  text-align: left;
  padding: 0;
  margin-left: 50px;
  color: #fff;
}

.book-ngrepeat {
  width: 1200px; 
}

.book-card-outer {
  word-spacing: 0;
  display: inline-block;
  padding: 0;
  margin: 0 20px 40px; 
  vertical-align: top;
  border: 1px solid #e5e5e5;
}

.book-card-inner {
  background: #fff;
  width: 240px;
  height: 360px;
  padding: 20px 0;
  margin: 0;
  border: 1px solid #dddddd;
}

.book-image {
  width: 150px;
  height: 200px;
  margin: 0 auto 20px;
}

.book-info {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.book-title {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  padding: 0;
  margin: 0 0 10px;
}

.book-author {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 0;
}

.book-date {
  display: block;
  padding: 0;
  text-align: center;
}

/* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 800px) {

  .container {
    margin: 0 5% 0;
  }

}

@media only screen and (max-width: 480px) {

  header h1 {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    word-spacing: 1px;
  }

}
