/*
  Site Name: GA Project 1 - Web Development Project Management App
  Site URI: https://secret-cove-35771.herokuapp.com/
  Description: Web Dev Project Management (Express API App)
  Author: Bill Cheng & Kenneth Bushman
  Version: 1.0
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* Links
--------------------------------------------- */

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #337ab7;
  text-decoration: underline;
}

/* Alignment
--------------------------------------------- */

.align-left {
  float: left;
  padding: 0;
  margin: 0 15px 20px 0;
}

/* Float Fix
--------------------------------------------- */

.float-fix {
  width: 100%;
  overflow: hidden;
}

/* Typography
--------------------------------------------- */

strong {
  font-weight: 700;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.6;
  padding: 0;
  margin: 0 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

/* Inputs and Buttons
--------------------------------------------- */

input {
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #666666;
  padding: 10px 15px;
  margin: 0;
  border: 2px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
}

button,
input[type="button"],
input[type="submit"] {
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  word-spacing: 0;
  color: #fff;
  padding: 15px 12px;
  margin: 15px 20px 0 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.edit-book-info {
  background-color: #4f92d5;
  width: 200px;
  font-size: 18px;
  padding: 15px 12px;
  margin: 15px 0 0 20px;
  float: left;
}

.edit-book-submit {
  background-color: #4f92d5;
  width: 200px;
  font-size: 18px;
  padding: 15px 12px;
  margin: 15px 0 0;
  float: right;
}

.edit-book-info:hover,
.edit-book-submit:hover {
  background: #0072e3;
}

.delete-book {
  background: #dd6d6d;
  width: 200px;
  height: auto;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  padding: 15px 12px;
  margin: 15px 0 60px 50px;
  border-radius: 3px;
  float: left;
  cursor: pointer;
}

.delete-book:hover {
  background: #c72525;
}

.back-button {
  display: block;
  background-color: #888;
  width: 160px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 10px 10px;
  margin: 40px 0 0;
  border-radius: 3px;
}

.back-button:hover {
  background: #555;
  color: #fff;
  text-decoration: none;
}

.cancel-button {
  background-color: #888;
  width: 200px;
  font-size: 18px;
  padding: 15px 12px;
  margin: 15px 20px 0 0;
  border-radius: 3px;
  float: right;
}

.cancel-button:hover {
  background: #555;
}

/* Header
--------------------------------------------- */

header {
  width: 100%;
  padding: 0;
  margin: 0;
}

#header-container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

#header-container h1,
#header-container h1 a{
  font-family: 'Black Ops One', cursive;
  font-size: 38px;
  line-height: 1.4;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  padding: 0;
  margin: 40px 0 0;
  text-align: left;
}

/* All Books Layout
--------------------------------------------- */

#all-books-container {
  background: #000;
  width: 100%;
  text-align: center;
  word-spacing: 40px;
  padding: 0;
  margin: 50px auto;
  border-top: 10px solid #444;
  border-bottom: 10px solid #444;
  overflow: hidden;
}

#all-books-list {
  max-width: 1200px;
  padding: 0;
  margin: 50px auto 20px;
}

.all-books-title {
  word-spacing: 0;
  text-align: left;
  padding: 0;
  margin-left: 50px;
  color: #fff;
}

.book-ngrepeat {
  max-width: 1200px; 
}

.book-card-outer {
  word-spacing: 0;
  display: inline-block;
  padding: 0;
  margin: 0 20px 40px; 
  vertical-align: top;
  border: 1px solid #e5e5e5;
}

.book-card-inner {
  background: #fff;
  width: 240px;
  height: 360px;
  padding: 20px 0;
  margin: 0;
  border: 1px solid #dddddd;
}

.book-image {
  width: 150px;
  height: 200px;
  margin: 0 auto 20px;
}

.book-info {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.book-title {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0 0 10px;
}

.book-author {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 0;
}

.book-date {
  display: block;
  padding: 0;
  text-align: center;
}

/* Single Book Layout
--------------------------------------------- */

#single-book-container {
  background: #000;
  width: 100%;
  text-align: center;
  word-spacing: 40px;
  padding: 0;
  margin: 50px auto;
  border-top: 10px solid #444;
  border-bottom: 10px solid #444;
  overflow: hidden;
}

#single-book-list {
  max-width: 1180px;
  padding: 0;
  margin: 30px auto 60px;
}

#single-book {
  background-color: #fff;
  max-width: 1000px;
  padding: 40px;
  margin: 0 auto 15px;
  overflow: hidden;
}

.single-book-title {
  word-spacing: 0;
  text-align: left;
  padding: 0;
  margin-left: 50px;
  color: #fff;
}

.single-book-image {
  max-width: 160px;
  padding: 0;
  margin: 0 30px 0 0;
  float: left;
}

.single-book-info {
  word-spacing: 0;
  background: #fff;
  max-width: 75%;
  text-align: left;
  padding: 0;
  margin: 0;
  float: left;
}

.detail-title{
  font-size: 30px;
  font-weight: bold;
}

.detail-author{
  font-size: 24px;
}

.detail-date{
  font-size: 20px;
}

/* Footer
--------------------------------------------- */

footer {
  background: #fff;
  width: 100%;
  padding: 20px 0 10px;
  margin: 100px 0 0;
  vertical-align: bottom;
}

footer .wrap {
  background :#fff;
  max-width: 900px;
  min-height: 120px;
  padding: 0 20px;
  margin: 0 auto;
}

footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  text-align: center;
  color: #444;
  padding: 0;
  margin: 0 0 15px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 800px) {

  .container {
    margin: 0 5% 0;
  }

}

@media only screen and (max-width: 480px) {

  header h1 {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    word-spacing: 1px;
  }

}
